.advanced-search__column {
  width: 312px;
  & .input-block {
    margin-top: 20px;
  }
  & select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    overflow: hidden;
    background-image: url('../img/arrow-down.png');
    background-repeat: no-repeat;
    background-size: 11px 6px;
    background-position: 246px 16px;
    height: 40px;
  }
}
