.cooperation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-grow: 1;
}
.cooperation__text {
  padding-right: 10px;
  font-size: 18px;
  font-weight: 600;
}
.cooperation__links {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  min-width: 350px;
}
.cooperation__link {
  display: flex;
  align-items: center;
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  & img {
    padding-right: 10px;
  }
}
