.main-channel {
  width: 329px;
  margin-bottom: 65px;
}
.main-channel__description {
  margin-top: 25px;
  min-height: 144px;
}
.main-channel__description--mini {
  margin-top: 2px;
  min-height: 77px;
}
.main-channel--mini {
  width: 300px;
  margin-right: 25px;
}
