body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: normal;
  background-color: #ffffff;
  color: #333333;
  margin: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

@import "fonts";
@import "blocks/container";
@import "blocks/page-header";
@import "blocks/main-nav";
@import "blocks/logo";
@import "blocks/top-user";
@import "blocks/page-footer";
@import "blocks/cooperation";
@import "blocks/search-channel";
@import "blocks/input";
@import "blocks/input-block";
@import "blocks/button";
@import "blocks/paginator";
@import "blocks/channel-table";
@import "blocks/top-information";
@import "blocks/main-info";
@import "blocks/main-channel";
@import "blocks/main-summary";
@import "blocks/review";
@import "blocks/statistic";
@import "blocks/link";
@import "blocks/report";
@import "blocks/advanced-search";
@import "blocks/buttons-search";

html,
body {
  height: 100%;
}

.table-layout {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
//
//header,
//footer {
//  display: table-row !important;
//  height: 1px;
//}
