body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: normal;
  background-color: #ffffff;
  color: #333333;
  margin: 0;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
@import "fonts";
@import "blocks/container";
@import "blocks/page-header";
@import "blocks/main-nav";
@import "blocks/logo";
@import "blocks/top-user";
@import "blocks/page-footer";
@import "blocks/cooperation";
@import "blocks/search-channel";
@import "blocks/input";
@import "blocks/input-block";
@import "blocks/button";
@import "blocks/paginator";
@import "blocks/channel-table";
@import "blocks/main-info";
